*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;

}
.core{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(img/2.jpg);
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:45px;
    padding-left:8%;
    padding-right:8%;
}
.logo{
    color:black;
    font: size 35px;
    letter-spacing:1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: 0.4s;
    transform: scale(1.5);
}
.top{
    background-color:#f9004d ;
    color:black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:10px 25px;
    border-radius: 30px;
    transition: transform .4s ;
}
.top:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: black ;
    margin: 20px 0px 20px;
    font-size:75px;
}
h3{
    color: black;
    font-size:25px;
    margin-bottom:50px;
}
h4{
    color:black;
    letter-spacing:2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #f9004d;
    letter-spacing:1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
}
html, body {
    scroll-behavior: smooth;
}
button{
    background-color:#f9004d;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight: bold;
    padding : 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    transform: scale(1.2);
}
footer{
    background-color: #f9004d;
    padding:20px;
    text-align: center;
}
footer p{
    color:white
}
@media only screen and (max-width: 767px) {
    .core nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .core .logo {
      font-size: 30px;
    }
    
    .core ul {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 0;
    }
    
    .core li {
      margin: 0 15px;
    }
    
    .core li i {
      font-size: 24px;
    }
    
    .core .content {
      text-align: center;
      margin-top: 50px;
    }
    
    .about img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    
    .about-text {
      text-align: center;
    }
    
    button {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .core nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    .core .logo {
      font-size: 40px;
    }
    
    .core ul {
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    .core li {
      margin: 0 15px;
    }
    
    .core li i {
      font-size: 32px;
    }
    
    .core .content {
      text-align: center;
      margin-top: 50px;
    }
    
    .about img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    
    .about-text {
      text-align: center;
    }
    
    button {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 645px) {
    .logo{
        font-size: 25px;
    }
    nav ul li{
        display: block;
        padding: 10px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    .content{
        position: static;
        transform: none;
        text-align: center;
        padding: 0 15px;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 20px;
    }
    .about img{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-text{
        width: 100%;
        text-align: center;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
}
  